
.marketplace-option.marketplace-option-yes,
.marketplace-option.marketplace-option-yes .media,
.marketplace-option.marketplace-option-yes .media-body,
.marketplace-option.marketplace-option-maybe,
.marketplace-option.marketplace-option-maybe .media,
.marketplace-option.marketplace-option-maybe .media-body,
.marketplace-option.marketplace-option-no,
.marketplace-option.marketplace-option-no .media,
.marketplace-option.marketplace-option-no .media-body
{
    cursor: pointer !important;    
}

.marketplace-option .marketplace-option-display-yes.marketplace-option-display-color {
    background-color: #779b48 !important;
}

.marketplace-option .marketplace-option-display-maybe.marketplace-option-display-color {
    background-color: #efa02d !important;
}

.marketplace-option .marketplace-option-display-no.marketplace-option-display-color {
    background-color: #e55c55 !important;
}

.marketplace-option-display {
    display: none;
}
.marketplace-option-display:hover {
    text-decoration: none;
    cursor: pointer;
}
.marketplace-option.marketplace-option-yes .marketplace-option-display-yes {
    display: inherit;
}
.marketplace-option.marketplace-option-maybe .marketplace-option-display-maybe {
    display: inherit;
}
.marketplace-option.marketplace-option-no .marketplace-option-display-no {
    display: inline;
}

.vote-control {
    display: inline-block;
    width: auto;
    height: 18px;
    width: 18px;
    margin: 6px 2px 0 2px !important;
    top: 4px;
    position: relative;
    cursor: pointer;
}

.vote-count {
    width: auto !important;
    min-width: 60px !important;
    padding: 0 6px;
    font-size: 12px !important;
}
.vote-count-divider {
    display: inline-block;
    position: relative;
    float: right;
    border-left: 1px solid #CCC;
    width: 0;
    height: 24px;
    top: 8px;
}

.app-marketplace .btn-emphasized:hover .media > .pull-right {
    background-color: #009EE3 !important;
}

.app-marketplace .btn-emphasized:hover .media > .pull-right.vote-trophy {
    background-color: #009EE3 !important;
}
.app-marketplace .btn-emphasized:hover .media > a.pull-right.vote-trophy:hover {
    background-color: #007999 !important;
}
.vote-trophy {
    border-left: 1px solid #DDD;
}

