{% for marketplace in marketplaces %}
    <div class="app-marketplace">
        <div class="btn btn-emphasized w100 extra-indented" href="{{ marketplace.get_absolute_url }}">
            <ul class="media-list fine-space">
                <li class="media">
                    <a class="pull-left" href="#">
                        <i class="fa fa-bar-chart"></i>
                    </a>
                    <div class="media-body no-vertical-padding ">
                        <strong><a href="{{ marketplace.get_absolute_url }}" target="_blank">{{ marketplace.title|truncatechars:25 }}</a></strong>
                        <div class="group-annotation">
                            {% include 'cosinnus/group/group_label.html' with group=marketplace.group %}
                        </div>
                    </div>
                </li>
            </ul>
        </div><!-- btn -->
    </div>
{% endfor %}
