{% for offer in offers %}
    <div class="app-offer">
        <div class="btn btn-emphasized w100 extra-indented" href="{{ offer.get_absolute_url }}">
            <ul class="media-list fine-space">
                <li class="media">
                    <a class="pull-left" href="#">
                        {% include 'cosinnus_marketplace/offer_icon.html' %}
                    </a>
                    <div class="media-body no-vertical-padding ">
                        <strong><a href="{{ offer.get_absolute_url }}" target="_blank">{{ offer.title|truncatechars:25 }}</a></strong>
                        <div class="group-annotation">
                            {% include 'cosinnus/group/group_label.html' with group=offer.group %}
                        </div>
                    </div>
                </li>
            </ul>
        </div><!-- btn -->
    </div>
{% endfor %}
