{% extends "cosinnus_marketplace/base.html" %}
{% load i18n static cosinnus_tags widget_tweaks thumbnail %}

{% block page_title %}
    {% if form_view == "add" %}
      {% trans "Add marketplace" %}
    {% elif form_view == "edit" %}
      {% trans "Edit" %} {{ offer.title }}
    {% endif %}
{{ block.super }}
{% endblock page_title %}

{% block breadcrumb %}
        {{ block.super }}
        <li class="active">
            {% if form_view == "add" %}
              {% trans "Add Offer" %}
            {% elif form_view == "edit" %}
              {% trans "Edit" %} {{ offer.title }}
            {% endif %}
        </li>
{% endblock %}

{% block leftnav %}
    {% include "cosinnus_marketplace/leftnav.html" with return_to="offers"%}
{% endblock leftnav %}

{% block content %}

    <!-- a box with semi transparent background -->
    <div class="content-box">
       <form method="POST" action="" enctype="multipart/form-data">{% csrf_token %}
            {% for formset in inlines %}
                {{ formset.management_form }}
            {% endfor %}
            
            <div class="btn btn-default w100 large-space">
                <ul class="media-list">
                    <li class="media">
                        <a class="pull-left btn-emphasized" href="#">
                            <i class="fa fa-plus"></i>
                        </a>
                        <div class="media-body media-body-form-control">
                        
                            {{ form.forms.obj.non_field_errors }}
                            {{ form.forms.media_tag.non_field_errors }}
                            
                            
						    <ol class="input-area">
                                <li class="w100">
		                            <label>
								    	{% trans "Offer type" %}:
								    </label>
		                            {{ form.forms.obj.type.errors }}
		                            <div class="condensed-radio-input">
		                            	{# please keep this linebreak formatting so that no spaces exit between the <label> elements! #}
	                                	{% for value, label in form.forms.obj.type.field.choices %}<label class="notification-options-label">
			                                	<input type="radio" name="{{ form.forms.obj.type.html_name }}" value="{{ value }}"
			                                			 {% if form.forms.obj.type.value == value or value|stringify == form.forms.obj.type.value %}checked="checked"{% endif %}>
												<span class="">{{ label }}</span>
											</label>{% endfor %}
		                            </div>
	                            </li>
	                        </ol>
                            
                            {{ form.forms.obj.title.errors }}
                            {% captureas placeholder %}{% trans "Detailed description" %}{% endcaptureas %}
                            {% if request.GET.title %}
                                {% render_field form.forms.obj.title class+="form-control" placeholder=placeholder value=request.GET.title %}
                            {% else %}
                                {% render_field form.forms.obj.title class+="form-control" placeholder=placeholder %}
                            {% endif %}
                            
                            <ol class="input-area">
                                <li class="w100">
                                    {{ form.forms.obj.description.errors }}
                                    {% captureas placeholder %}{% trans "Enter a description for your offer." %}{% endcaptureas %}
                                    {% render_field form.forms.obj.description class+="form-control" placeholder=placeholder %}
                                </li>
                            </ol>
                            
                            <ol class="input-area regular-space">
                                <li class="w100">
                                	{{ form.forms.obj.phone_number.errors }}
									{% captureas placeholder %}{% trans "Phone number (optional)" %}{% endcaptureas %}
                                    {% render_field form.forms.obj.phone_number class+="form-control" placeholder=placeholder %}
                                    <p class="small">
                                    	{% trans "Your phone number is only visible for registered users" %}
                                    </p>
                                </li>
                            </ol>
                        </div>
                    </li>
                        
                    <li class="media">
                        <a class="pull-left btn-emphasized" href="#">
                            <i class="fa fa-tags"></i>
                        </a>
                        <div class="media-body media-body-form-control">
                            
						    <ol class="input-area regular-space">
                                <li class="w100">
		                            <label>
								    	{% trans "Categories" %}
								    </label>
								    {{ form.forms.obj.categories.errors }}
								    <br/>
					                {% for value, label in form.forms.obj.categories.field.choices %}
						                <label for="id_{{ form.forms.obj.categories.html_name }}_{{ value }}">
						                	<input id="id_{{ form.forms.obj.categories.html_name }}_{{ value }}" name="{{ form.forms.obj.categories.html_name }}" 
						                			type="checkbox" value="{{ value }}"{% if value in form.forms.obj.categories.value or value|stringify in form.forms.obj.categories.value %}checked="checked"{% endif %}>
						                	<span>{{ label }}</span>
					                	</label>
					                	<br/>
					                {% endfor %}
					            </li>
					        </ol>
                        </div>
                    </li>
                        
                    <li class="media">
                        <a class="pull-left btn-emphasized" href="#">
                            <i class="fa fa-image"></i>
                        </a>
                        <div class="media-body media-body-form-control">
                        
                            <ol class="input-area">
                                <li class="w100">
		                            <label>
								    	{% trans "Add Photos or Files" %}
								    </label>
								    <p class="small">
                                    	{% trans "The first uploaded image will be displayed as a wallpaper" %}
                                    </p>
                                </li>
                            </ol>
                            {% include 'cosinnus/media_tags.html' with show_files=True disable_tags=True %}
                        </div>
                    </li>
                        
                    <li class="media">
                        <a class="pull-left btn-emphasized" href="#">
                            <i class="fa fa-check"></i>
                        </a>
                        <div class="media-body media-body-form-control">
                        
					        <ol class="input-area regular-space">
                                <li class="w100">
                                	{{ form.forms.obj.is_active.errors }}
									{% captureas placeholder %}{% trans "is???" %}{% endcaptureas %}
                                    <label for="{{ form.forms.obj.auto_id }}">
	                                    {% render_field form.forms.obj.is_active placeholder=placeholder %}
                                    	{% trans "Offer is active" %}
                                    </label>
                                    <p class="small">
                                    	{% trans "Your offer will stay active for 4 weeks. After that, you can reactivate it at any time." %}
                                    </p>
                                </li>
                            </ol>
                        </div>
                    </li>
                    
                </ul>
            </div>
            
            <button type="submit" class="btn btn-emphasized">
                <ul class="media-list">
                    <li class="media">
                        <a class="pull-left" href="#">
                            <i class="fa fa-pencil"></i>
                        </a>
                        <div class="media-body">
                            {% if form_view == "add" %}
                              {% trans "Create" %}
                            {% elif form_view == "edit" %}
                              {% trans "Save" %}
                            {% endif %}
                        </div>
                    </li>
                </ul>
            </button>
       
        </form>
    
    </div><!-- content-box -->
    
{% endblock content %}
