{% load i18n cosinnus_tags %}

{% with offer=object %}
    <div class="app-marketplace">
        <div class="btn btn-emphasized w100" >
            <ul class="media-list large-space">
                <li class="media">
                    <a class="pull-left square-date-icon" href="#">
                        <i class="fa fa-exchange"></i>
                    </a>
                    <div class="media-body no-vertical-padding ">
                        <span class="annotation">
                            {% with creator=offer.creator %}
                                {# {% trans "by" %} #} <strong><a href="{{ creator|profile_url }}">{{ creator|full_name }}</a></strong>
                            {% endwith %}
                            <span class="moment-data-date" data-date="{{ offer.created|date:'c' }}"></span>
                        </span>
                        <strong><a href="{{ offer.get_absolute_url }}">{{ offer.title }}</a></strong>
                        <div class="group-annotation">
                            {% include 'cosinnus/group/group_label.html' with group=offer.group %}
                        </div>
                    </div>
                </li>
            </ul>
        </div><!-- btn -->
    </div>
{% endwith %}
